<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Data registrering</title>
</head>
<body>

<!-- This loads the header fragment -->
<div th:replace="fragments/header :: header('dataRegistration')"></div>


<h1>Velkomme til Data Registrering</h1>

<div class="container">
  <div class="section-grid">
    <a href="/dataRegistration/fleet" class="section-card">Fleet Oversigt</a>
    <a href="/dataRegistration/clients" class="section-card">Kunder</a>

    <a href="/dataRegistration/createClients" class="section-card">Kunder</a>

    <a href="/dataRegistration/rentalAgreements" class="section-card">Lejeaftaler</a>
    <a href="/dataRegistration/createRentalAgreements" class="section-card">Kunder</a>


  </div>
</div>

</body>
</html>