<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>Data registrering</title>
</head>
<body>

<!-- This loads the header fragment -->
<div th:replace="~{fragments/header :: header('dataRegistration')}"></div>

<div class="page-container">

    <h1>Velkomme til Data Registrering</h1>

    <div class="page-container">
        <div class="section-columns">

            <div class="section-group">
                <h3>Biler</h3>
                <a href="/fleet/overview" class="section-card">Se fleet oversigt</a>
                <a href="/dataRegistration/createCar" class="section-card">Opret bil</a>
            </div>

            <div class="section-group">
                <h3>Kunder</h3>
                <a href="/dataRegistration/customers" class="section-card">Se kunde oversigt</a>
                <a href="/customers/create/private" class="section-card">Opret kunde</a>
            </div>

            <div class="section-group">
                <h3>Lejeaftaler</h3>
                <a href="/dataRegistration/rental-agreements" class="section-card">Se lejeaftaler</a>
                <a href="#" class="section-card">Opret lejeaftale</a>
            </div>


        </div>
    </div>
</div>

</body>
</html>