<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheet.css">
  <title>Fleet</title>
</head>
<body>
<div th:replace="~{fragments/header :: header('dataRegistration')}"></div>

<div class="page-container">

<h1>Fleet</h1>
</div>

</body>
</html>