<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="UTF-8"/>
    <title>Opret lejeaftale</title>
    <link rel="stylesheet" href="/stylesheet.css"/> <!-- Sørg for stien er korrekt -->
    <!-- Font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet"
    />
<body>
<div th:replace="~{fragments/header :: header('dataRegistration')}"></div>

<div class="page-container">
    <div class="opret-bil-page-container">

        <header class="opret-bil-form-header">
            <h1>Opret bil</h1>
            <p>Indtast info for at oprette ny bil</p>
        </header>

        <div class="opret-bil-form-content">


            <form th:action="@{/dataRegistration/rental-agreements/create}" th:object="${rentalAgreement}"
                  method="post">

                <div class="opret-bil-form-row">
                    <label for="carId">Vælg tilgængelig bil:</label>

                    <select id="carId" th:field="*{carId}" required>

                        <option th:each="car : ${cars}"
                                th:value="${car.carId}"
                                th:text="|${car.brandName} ${car.modelName} - ${car.registrationNumber} (ID: ${car.carId})|">
                        </option>
                    </select>

                </div>

                <div class="opret-bil-form-row">
                    <label for="customerId">Vælg kunde:</label>

                    <select id="customerId" th:field="*{customerId}" required>

                        <option th:each="customer : ${customers}"
                                th:value="${customer.customerId}"
                                th:text="|${customer.fname} ${customer.lname} (${customer.customerId})|">
                        </option>
                    </select>
                </div>



            </form>


        </div>
    </div>
</div>


</body>
</html>



