<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta charset="UTF-8"/>
    <title>Opret lejeaftale</title>
    <link rel="stylesheet" href="/stylesheet.css"/> <!-- Sørg for stien er korrekt -->
    <!-- Font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet"
    />
<body>
<div th:replace="~{fragments/header :: header('dataRegistration')}"></div>
<div class="container">
    <div class="header-flex">
        <h1>Opret Lejeaftale</h1>
    </div>

    <p class="description-text">
        XXXX
    </p>


</div>
</body>
</html>