<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BilAbonnement - Administration</title>
    <link rel="stylesheet" href="/stylesheet.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header('home')}"></div>

<div class="container">
    <div class="header-flex">
        <h1>Velkommen til BilAbonnement Administration</h1>
        <p class="description-text">
            Her kan du administrere alle aspekter af bilabonnement systemet. Vælg en sektion nedenfor for at komme i
            gang.
        </p>

    </div>

    <div class="section-columns">
        <div class="section-group">
            <h3>Data Registrering</h3>
            <a th:href="@{/fleet/overview}" class="section-card">Fleet</a>
            <a th:href="@{/dataRegistration/customers}" class="section-card">Kunder</a>
            <a th:href="@{/dataRegistration/rental-agreements}" class="section-card">Lejeaftaler</a>
        </div>

        <div class="section-group">
            <h3>Skade Registrering</h3>
            <a th:href="@{/conditionReport/create}" class="section-card">Opret tilstandsrapport</a>
            <a th:href="@{/conditionReport/list}" class="section-card">Se tilstandsrapporter</a>
            <a th:href="@{/conditionReport/reparationStatus}" class="section-card">Reparations nøgletal</a>
        </div>

        <div class="section-group">
            <h3>Forretnings Data</h3>
            <a th:href="@{/forretningsdata/fleet}" class="section-card">Fleet Statistik</a>
            <a th:href="@{/forretningsdata/omsætning}" class="section-card">Omsætning</a>
            <a th:href="@{/forretningsdata/andre}" class="section-card">Andre Nøgletal</a>
        </div>
    </div>
</div>

<div class="container">
    <h4>Årlig omsætning</h4>
    <img src="/img/graphs/graphs_01-06.png" alt="BilAbonnement Banner" class="graph-center"/>
    <p style="color:gray; font-size: 12px;">Placeholder</p>
</div>


</body>
</html>